<nav>
  <ul class="pagination">
  	 {% if paginations.has_previous %}
    <li><a href="?{{ param_name }}=1" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>
    <li><a href="?{{ param_name }}={{ paginations.page_previous }}"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}
    {% for no in paginations.page_links %}
    	 <li {% if paginations.current_no == no %} class="active" {% endif %}>
    	 	<a href="?{{ param_name }}={{ no }}"><span aria-hidden="true">{{ no }}</span></a>
    	 </li>
	 {% endfor %}
	 {% if has_next %}
	 	 <li><a href="?{{ param_name }}={{ paginations.page_next }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    	 <li><a href="?{{ param_name }}={{ paginations.page_nums }}" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>
	 {% endif %}		  
  </ul>
</nav>