{% extends "base.html" %}
{% block contents %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">{{ message }}</div>
				{% endfor %}
		{% endif %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<h5>登陆</h5>
				</div>
			</div>
			<div class="panel-body">
				<form method="POST" action="{% url 'usercenter_login' %}">{% csrf_token %}
				  <div class="input-group">
				    <div class="input-group-addon">用户名</div>
				    <input type="text" class="form-control" id="username_id" maxlength="255" name="username">
				  </div>
				  <br>
				  <div class="input-group">
			       <div class="input-group-addon">密码</div>
			       <input type="password" class="form-control" id="pwd_id" name="password">
			     </div>
			     <br>
			     <div class="input-group">
			       <input type="hidden" name="next" value="{{ next }}" />
			       <button type="submit" class="btn btn-primary">登陆</button>
			     </div>
				</form>
			</div>
			<div class="panel-footer">
				<a href="{% url 'usercenter_register' %}" >还没有账户？</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
