{% extends "base.html" %}
{% block contents %}
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">
					<h5>重置密码</h5>
				</div>
			</div>
			<div class="panel-body">
				<form method="POST" action="">{% csrf_token %}
					<label for="id_email">电子邮件:</label>
					<div class="input-group">
						<input id="id_email" maxlength="254" name="email" type="email" class="form-control" />
				      <span class="input-group-btn">
				        <button  type="submit" class="btn btn-info">重置密码</button>
				      </span>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}